/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #4CA8A2;
  margin: 0 auto;
  vertical-align: middle;
  font-size: 13px;
  font-family: Helvetica, sans-serif;
}

.container {
  background-color: rgba(255, 255, 255, 0.5);
  vertical-align: middle;
  padding: 25px;
  margin: inherit;
}

h1 {
  color: #BF6154;
  font-weight: bolder;
  font-size: 35px;
  font-family: 'Lobster', cursive;
  text-align: left;
}

h2 {
  color: #BF6154;
  font-size: 30px;
  font-family: 'Lobster', cursive;
  text-align: left;
}

h3 {
  color: #276B67;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 25px;
  margin: inherit;
}

img {
  height: 250px;
  width: 400px;
  overflow: hidden;
}

.index-image {
  height: 250px;
  width: 400px;
  overflow: hidden;
}